{{#if isSecondary}}
    <ul class="footer-nav" role="menu">
        {{#foreach navigation}}
              <li class="nav-{{slug}}" role="menuitem">
                <a href="{{url}}">
                    <i class="bx bx-chevron-right"></i> 
                    {{label}}
                </a>
            </li>
        {{/foreach}}
    </ul>
{{else}}
    <ul>
        <li class="dropdown"><a href="#"><span>News</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="/morning-fly-by">Morning Fly By</a></li>
                <li><a href="/prospect-report">Prospect Report</a></li>
                <li><a href="/news-reports">News Reports</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Games</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="/game-threads">Game Threads</a></li>
                <li><a href="/previews">Previews</a></li>
                <li><a href="/recaps">Recaps</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Features</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="/flyers">Flyers</a></li>
                <li><a href="/prospects">Prospects</a></li>
                <li><a href="/sports-betting">Sports Betting</a></li>
                <li><a href="/everything-is-sports">Everything Is Sports</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Podcasts</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="/bsh-radio">BSH Radio</a></li>
                <li><a href="/flyperbole">Flyperbole</a></li>
            </ul>
        </li>
        <li><a class="" href="/bsh-store">BSH Store</a></li>
    </ul>
    <ul>
        <div class="gh-head-actions text-right align-right">
            {{#unless @site.members_enabled}}Hello
                {{^match @custom.navigation_layout "Stacked"}}
                    <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
                {{/match}}
            {{else}}
                <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
                <div class="gh-head-members">
                    {{#unless @member}}
                        {{#unless @site.members_invite_only}}
                            <a class="gh-head-link" href="#/portal/signin" data-portal="signin"><i class="fa fa-user">Sign In</i></a>
                            <a class="gh-head-button" href="#/portal/signup" data-portal="signup">Subscribe</a>
                        {{else}}
                            <a class="gh-head-button" href="#/portal/signin" data-portal="signin"><i class="fa fa-user">Sign In</i></a>
                        {{/unless}}
                    {{else}}
                        <a class="gh-head-button" href="#/portal/account" data-portal="account">Account</a>
                    {{/unless}}
                </div>
            {{/unless}}
        </div>        
    </ul>

{{!--  
    <div class="c-global-header__links">
        <ul class="nav" role="menu">
            <!-- Loop through the navigation items -->
            {{#foreach navigation}}
            <li class="c-global-header__link nav-{{slug}}{{#if current}} nav-current{{/if}}" role="menuitem"><a href="{{url absolute="true"}}">{{label}}</a></li>
            {{/foreach}}
            <!-- End the loop -->
        </ul>
    </div>
--}}
{{/if}}
