{{#if isSecondary}}
    <ul class="footer-nav" role="menu">
        {{#foreach navigation}}
              <li class="nav-{{slug}}" role="menuitem">
                <a href="{{url}}">
                    <i class="bx bx-chevron-right"></i> 
                    {{label}}
                </a>
            </li>
        {{/foreach}}
    </ul>
{{else}}
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bshNavBar" aria-controls="bshNavBar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="bshNavBar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li><a class="nav-link mobile-only" href="/">Home</a></li>
            <li class="nav-item dropdown"><a id="newsDropDown" class="nav-link dropdown-toggle" href="#">News</a>
                <ul class="dropdown-menu" aria-labelledby="newsDropDown">
                    <li><a class="dropdown-item" href="/tag/morning-fly-by">Morning Fly By</a></li>
                    <li><a class="dropdown-item" href="/tag/prospect-reports">Prospect Reports</a></li>
                    <li><a class="dropdown-item" href="/tag/news-reports">News Reports</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown"><a id="gamesDropDown" class="nav-link dropdown-toggle" href="#">Games</a>
                <ul class="dropdown-menu" aria-labelledby="gamesDropDown">
                    <li><a class="dropdown-item" href="/tag/game-threads">Game Threads</a></li>
                    <li><a class="dropdown-item" href="/tag/previews">Previews</a></li>
                    <li><a class="dropdown-item" href="/tag/recaps">Recaps</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown"><a id="featuresDropDown" class="nav-link dropdown-toggle" href="#">Features</a>
                <ul class="dropdown-menu" aria-labelledby="featuresDropDown">
                    <li><a class="dropdown-item" href="/tag/flyers">Flyers</a></li>
                    <li><a class="dropdown-item" href="/tag/prospects">Prospects</a></li>
                    <li><a class="dropdown-item" href="/tag/sports-betting">Sports Betting</a></li>
                    <li><a class="dropdown-item" href="/tag/everything-is-sports">Everything Is Sports</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown"><a d="podcastsDropDown" class="nav-link dropdown-toggle" href="#">Podcasts</a>
                <ul class="dropdown-menu" aria-labelledby="podcastsDropDown">
                    <li><a class="dropdown-item" class="dropdown-item" href="/tag/bsh-radio">BSH Radio</a></li>
                    <li><a class="dropdown-item" class="dropdown-item" href="/tag/flyperbole">Flyperbole</a></li>
                </ul>
            </li>
            <li><a class="nav-link" href="/bsh-store">BSH Store</a></li>
        </ul>
        <ul class="hide-mobile">
            <div class="gh-head-actions text-right align-right">
                {{#unless @site.members_enabled}}Hello
                    {{^match @custom.navigation_layout "Stacked"}}
                        <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
                    {{/match}}
                {{else}}
                    <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
                    <div class="gh-head-members">
                        {{#unless @member}}
                            {{#unless @site.members_invite_only}}
                                <a class="gh-head-link" href="#/portal/signin" data-portal="signin"><i class="fa fa-user">Sign In</i></a>
                                <a class="gh-head-button" href="#/portal/signup" data-portal="signup">Subscribe</a>
                            {{else}}
                                <a class="gh-head-button" href="#/portal/signin" data-portal="signin"><i class="fa fa-user">Sign In</i></a>
                            {{/unless}}
                        {{else}}
                            <a class="gh-head-button" href="#/portal/account" data-portal="account">Account</a>
                        {{/unless}}
                    </div>
                {{/unless}}
            </div>        
        </ul>
        </div>
    </div>
</nav>

{{/if}}
