<section class="sticky-top">
    <div class="gh-head-actions">
        {{#unless @site.members_enabled}}Hello
            {{^match @custom.navigation_layout "Stacked"}}
                <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
            {{/match}}
        {{else}}
            <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
            <div class="gh-head-members">
                {{#unless @member}}
                    {{#unless @site.members_invite_only}}
                        <a class="gh-head-link" href="#/portal/signin" data-portal="signin">Sign in</a>
                        <a class="gh-head-button" href="#/portal/signup" data-portal="signup">Subscribe</a>
                    {{else}}
                        <a class="gh-head-button" href="#/portal/signin" data-portal="signin">Sign in</a>
                    {{/unless}}
                {{else}}
                    <a class="gh-head-button" href="#/portal/account" data-portal="account">Account</a>
                {{/unless}}
            </div>
        {{/unless}}
    </div>

    <div class="l-col__sidebar">
        <div class="u-desktop-only"></div>
        <div class="u-desktop-only">
            <aside class="c-rock-list c-rock-list__text">
                {{#if heading}}
                    <h3 class="p-rock-head c-rock-list__title">{{heading}}</h3>
                {{/if}}

                {{#get "posts"}}
                    <div class="c-rock-list__body">
                        <ol class="c-rock-list__items">
                            {{#foreach posts}}
                            <li class="c-rock-list__item">
                                <a href="{{url}}" class="c-rock-list__link">
                                    <div class="c-rock-list__image">
                                    <picture class="c-picture">
                                        <img src="{{img_url feature_image size="m"}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
                                    </picture>
                                    </div>
                                    <span class="c-rock-list__item--body">
                                        <h5><span data-chorus-optimize-field="hed">{{title}}</span></h5>
                                        <span data-chorus-optimize-field="hed">{{excerpt}}</span>
                                        <span class="c-rock-list__entry-blurb">{{excerpt}}</span>
                                    </span>
                                </a>
                            </li>
                            {{/foreach}}
                        </ol>
                    </div>
                {{/get}}
            </aside>
        </div>
    </div>
</section>

{{!-- 
{{!-- Read more links, just above the footer --}}
{{#if @custom.show_recent_posts_footer}}
    {{!-- The {#get} helper below fetches some of the latest posts here
    so that people have something else to read when they finish this one.

    This query gets the latest 3 posts on the site, but adds a filter to
    exclude the post we're currently on from being included. --}}
    {{#get "posts" filter="id:-{{id}}" limit="3" as |more_posts|}}

        {{#if more_posts}}
            <aside class="read-more-wrap outer">
                <div class="read-more inner">
                    {{#foreach more_posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                </div>
            </aside>
        {{/if}}

    {{/get}}
{{/if}}
