{{!< default}}
<div class="l-hero ">
  <div class="c-five-up">
    <div class="c-five-up__main">
      <div class="c-five-up__col">
        {{#get "posts" filter="primary_tag:hero-big-feature" limit="1" include="authors" }}
          {{! Use the foreach helper to loop through available posts }}
          {{#foreach posts}}
            {{! Big Feature  }}
            <div class="c-entry-box--compact c-entry-box--compact--article c-five-up__entry c-entry-box--compact--hero">
              <a aria-hidden="true" tabindex="-1" href="{{url}}" class="c-entry-box--compact__image-wrapper">
                <img src="{{feature_image}}">
                <div class="c-entry-box--compact__body">
                  <h2 class="c-entry-box--compact__{{title}}">
                    <a href="{{url}}">{{title}}</a>
                  </h2>
                  <p class="p-dek c-entry-box--compact__dek">{{excerpt}}</p>
                  <div class="c-byline">
                    <span class="c-byline-wrapper"> By <span class="c-byline__item">
                        <a href="{{primary_author.url}}">
                          <span class="c-byline__author-name">{{primary_author.name}}</span>
                        </a>
                      </span>
                      <span class="c-byline__item">
                        <time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                      </span>
                    </span>
                  </div>
                </div>
            </div>
            {{! /Big Feature  }}

          {{/foreach}}
        {{/get}}
      </div>
      <div class="c-five-up__col">
        {{#get "posts" filter="primary_tag:hero-top-left" limit="1" include="authors" }}
          {{! Use the foreach helper to loop through available posts }}
          {{#foreach posts}}
            {{! Top Left Feature  }}
            <div class="c-entry-box--compact c-entry-box--compact--article c-five-up__entry c-entry-box--compact--hero">
              <a href="{{url}}" class="c-entry-box--compact__image-wrapper">
                <img src="{{feature_image}}">
              </a>
              <div class="c-entry-box--compact__body">
                <h2 class="c-entry-box--compact__{{title}}">
                  <a href="{{url}}">{{title}}</a>
                </h2>
                <p class="p-dek c-entry-box--compact__dek">{{excerpt}}</p>
                <div class="c-byline">
                  <span class="c-byline-wrapper"> By <span class="c-byline__item">
                      <a href="{{primary_author.url}}">
                        <span class="c-byline__author-name">{{primary_author.name}}</span>
                      </a>
                    </span>
                    <span class="c-byline__item">
                      <time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            {{! /Top Left Feature  }}
          {{/foreach}}
        {{/get}}
        {{#get "posts" filter="primary_tag:hero-top-right" limit="1" include="authors" }}
          {{! Use the foreach helper to loop through available posts }}
          {{#foreach posts}}
            {{! Top Right Feature  }}
            <div class="c-entry-box--compact c-entry-box--compact--article c-five-up__entry c-entry-box--compact--hero">
              <a href="{{url}}" class="c-entry-box--compact__image-wrapper">
                <img src="{{feature_image}}">
              </a>
              <div class="c-entry-box--compact__body">
                <h2 class="c-entry-box--compact__{{title}}">
                  <a href="{{url}}">{{title}}</a>
                </h2>
                <p class="p-dek c-entry-box--compact__dek">{{excerpt}}</p>
                <div class="c-byline">
                  <span class="c-byline-wrapper"> By <span class="c-byline__item">
                      <a href="{{primary_autho}}">
                        <span class="c-byline__author-name">{{primary_author.name}}</span>
                      </a>
                    </span>
                    <span class="c-byline__item">
                      <time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            {{! /Top Right Feature  }}
          {{/foreach}}
        {{/get}}
        {{#get "posts" filter="primary_tag:hero-bottom-left" limit="1" include="authors" }}
          {{! Use the foreach helper to loop through available posts }}
          {{#foreach posts}}
            {{! Bottom Left Feature  }}
            <div class="c-entry-box--compact c-entry-box--compact--article c-five-up__entry c-entry-box--compact--hero">
              <a href="{{url}}" class="c-entry-box--compact__image-wrapper">
                <img src="{{feature_image}}">
              </a>
              <div class="c-entry-box--compact__body">
                <h2 class="c-entry-box--compact__{{title}}">
                  <a href="{{url}}">{{title}}</a>
                </h2>
                <p class="p-dek c-entry-box--compact__dek">{{excerpt}}</p>
                <div class="c-byline">
                  <span class="c-byline-wrapper"> By <span class="c-byline__item">
                      <a href="{{url}}">
                        <span class="c-byline__author-name">{{primary_author.name}}</span>
                      </a>
                    </span>
                    <span class="c-byline__item">
                      <time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            {{! /Bottom Left Feature  }}
          {{/foreach}}
        {{/get}}
        {{#get "posts" filter="primary_tag:hero-bottom-right" limit="1" include="authors" }}
          {{! Use the foreach helper to loop through available posts }}
          {{#foreach posts}}
            {{! Bottom Right Feature  }}
            <div class="c-entry-box--compact c-entry-box--compact--article c-five-up__entry c-entry-box--compact--hero">
              <a href="{{url}}" class="c-entry-box--compact__image-wrapper">
                <img src="{{feature_image}}">
              </a>
              <div class="c-entry-box--compact__body">
                <h2 class="c-entry-box--compact__{{title}}">
                  <a href="{{url}}">{{title}}</a>
                </h2>
                <p class="p-dek c-entry-box--compact__dek">{{excerpt}}</p>
                <div class="c-byline">
                  <span class="c-byline-wrapper"> By <span class="c-byline__item">
                      <a href="{{url}}">
                        <span class="c-byline__author-name">{{primary_author.name}}</span>
                      </a>
                    </span>
                    <span class="c-byline__item">
                      <time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
                    </span>
                  </span>
                </div>
              </div>
            </div>
            {{! /Bottom Right Feature  }}
          {{/foreach}}
        {{/get}}

      </div>
    </div>
  </div>
</div>


{{#get 'posts' filter='tag:-[hero-bottom-right, hero-bottom-left, hero-top-right, hero-top-left, hero-big-feature]' include="authors" }}
{{#foreach posts }}

  {{> "post-card"}}

{{/foreach}}
{{/get}}
